a {
  color: var(--oc-indigo-7);
}

a:hover {
  color: var(--oc-gray-5);
}

body {
  color: var(--oc-gray-8);
  font-family: 'Crimson Text', sans-serif;
  font-size: 1.1em;
  line-height: 1.2em;
  word-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--oc-gray-9);
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.1em;
  margin-bottom: 0.55em;
  text-align: center;
}

code {
  font-family: 'Anonymous Pro', monospace;
}