/*
 * ğ—– ğ—¢ ğ—Ÿ ğ—¢ ğ—¥
 * v 1.6.3
 *
 * https://yeun.github.io/open-color/
 * â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” */
--oc-gray-3: #dee2e6;
--oc-gray-5: #adb5bd;
--oc-gray-8: #343a40;
--oc-gray-9: #212529;
--oc-indigo-7: #4263eb;
--oc-orange-7: #f76707;
/* â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” */