@import 'open-color.css';

.markdown-body {
    font-family: 'Inknut Antiqua';
}

#masthead {
    background-color: var(--oc-yellow-7);
    display: block;
    font-size: 1.6em;
    font-style: italic;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#masthead img {
    height: 33%;
    width: 33;
}

#navbar {
    background-color: var(--oc-red-8);
    overflow: hidden;
    width: 100%;
}

#navbar a {
    color: var(--oc-gray-0);
    font-size: 48px;
    display: block;
    float: left;
}

.markdown-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li:hover {
    background-color: var(--oc-gray-2);
}

#content {
    background-color: var(--oc-blue-2);
    font-family: 'Inknut Antiqua';
    font-size: 11em;
}

#footer {
    background-color: var(--oc-green-3);
}
