<masthead>
  <img src="img/AnscombesQuartet.png" alt="Anscombe's Quartet" />

  <p>Integrity is not certainty.</p>

  <style>
	img {
		  display: block;
		  margin-left: auto;
		  margin-right: auto;
	      width: 33%;
	    }

	p {
		color: var(--oc-gray-6);
		font-size: 1.33em;
		font-style: italic;
		font-weight: 300;
		text-align: center;
	}
</style>
</masthead>
